* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

*::selection {
  color: grey;
  background-color: black;
}

#nav {
  /* height: 100px; */
  width: 100%;
  /* background-color: burlywood; */
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#links {
  padding: 10px;
}

#nav-part1 {
  /* background-color: RED; */
  height: 82px;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
}

#nav-part2 #links a {
  text-transform: uppercase;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  margin: 0 20px;
}

#icons {
  padding: 10px;
  border-radius: 50px;
}
#cursor {
  height: 180px;
  width: 180px;
  background-color: #dadada;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%) scale(0);
}

#main {
  cursor: url(Assets/cursor/icons8--black\ select-cursor-24.png), auto;
}

/* @font-face {
    font-family: 'futura';
    src: url('path/to/futura.woff2') format('woff2'),
         url('path/to/futura.woff') format('woff');
    
    font-style: normal;
} */

#page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 38vh;
}

#page1 h1 {
  font-size: 15vw;
  font-family: "futura", sans-serif;
  line-height: 30vh;
  font-weight: 800;
  word-spacing: -30px;
  letter-spacing: -15px;
  text-transform: uppercase;
}

#video-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

#play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
  scale: 0;
  cursor: pointer;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vw;
  padding: 1vh 2vw;
}

#page2 .elem {
  position: relative;
  height: 100%;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 
  Elem1 Container Details */

#elem1 .dets {
  height: 8vh;
  width: 70%;
  background-color: #f5dfcf;
  z-index: 9;
  top: 0;
  margin-top: 40vh;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
}

#elem1 .dets_Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
#elem1 .dets_Container img {
  position: relative;
  height: 180px;
  width: 120px;
  opacity: 0;
}

#elem1 .text_div {
  padding: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 20vw;
}
#elem1 .text_div .ri-drop-fill {
  color: rgb(0, 0, 0);
  font-size: 1.2vw;
}

#elem1 .text_div .ri-arrow-drop-right-line {
  font-size: 2vw;
}

#elem1 .text_div h2 {
  font-size: 1.1vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Helvetica;
}

/* Elem2 Container  */

#elem2 .dets {
  height: 8vh;
  width: 70%;
  background-color: #eaeaea;
  z-index: 9;
  top: 0;
  margin-top: 40vh;
  position: absolute;
  border-radius: 20px;
  overflow: hd;
}

#elem2 .dets_Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
#elem2 .dets_Container img {
  position: relative;
  height: 160px;
  width: 110px;
  opacity: 0;
}

#elem2 .text_div {
  padding: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 20vw;
}
#elem2 .text_div .ri-store-line {
  color: rgb(0, 0, 0);
  font-size: 2vw;
}

#elem2 .text_div .ri-arrow-drop-right-line {
  font-size: 2vw;
}

#elem2 .text_div h2 {
  font-size: 1.1vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Helvetica;
}

/* elem3 Conatainer */

#elem3 .dets {
  height: 8vh;
  width: 70%;
  background-color: #ffffff;
  z-index: 9;
  top: 0;
  margin-top: 40vh;
  position: absolute;
  border-radius: 20px;
}

#elem3 .dets_Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
#elem3 .dets_Container img {
  position: relative;
  height: 180px;
  width: 120px;
  opacity: 0;
}

#elem3 .text_div {
  padding: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 20vw;
}
#elem3 .text_div .ri-store-line {
  color: rgb(0, 0, 0);
  font-size: 2vw;
}

#elem3 .text_div .ri-arrow-drop-right-line {
  font-size: 2vw;
}

#elem3 .text_div h2 {
  font-size: 1.1vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Helvetica;
}

#page3 {
  min-height: 170vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
}

.child {
  height: 70vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child h3 {
  font-weight: 300;
  font-size: 1.2vw;
}

.child img {
  height: 100%;
  object-fit: cover;
}

/* #page4{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 52, 65);
  position: relative;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 25vw;
}

.card{
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 1440px;
  background-color: cornsilk;
  transition: all ease 0.5s;
  border-radius: 12px;
}

.card-bg{
  height: 100%;
  width: 100%;
  transform-origin: left top;
  background-color: rgb(233, 220, 170);
  transition: all ease 0.5s;
  border-radius: 12px;
}

.card-cta{
  height: 70%;
  width: 60%;
  background-color: rebeccapurple;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-radius: 20px;
  transition: all ease 0.5s;
}

.card-fg{
  height: 100%;
  width: 100%;
  bottom: 0%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: left top;
  transition: all ease 0.5s;
  background-color: rgb(180, 148, 19);
  backdrop-filter: blur(25px);
  border-radius: 12px;
  

}

.card:hover .card-cta{
  transform: translateX(50px) rotateZ(10deg);
}

.card:hover .card-fg{
  transform: rotateY(-40deg);
} */

#page5 {
  gap: 10vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150vh;
  background-color: #F7F7F7;
}

.cards {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90vh;
}

#card-one {
  top: 80%;
  background-image: url(Assets/image1.jpg);
  object-fit: cover;
  background-size: 100%;
  background-position: center;
}

#card-two {
  top: 120%;
  background-image: url(Assets/image2.jpg);
  object-fit: cover;
  background-size: 100%;
  background-position: center;
}

#card-three {
  top: 120%;
  background-image: url(Assets/image3.jpg);
  object-fit: cover;
  background-size: 100%;
  background-position: center;
}

#card-four {
  top: 120%;
  background-image: url(Assets/image4.jpg);
  object-fit: cover;
  background-size: cover;
}

#card-five {
  top: 120%;
  background-image: url(Assets/image5.jpg);
  object-fit: cover;
  background-size: 100%;
  background-position: center;
}

#page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: #F7F7F7;
}

#left {
  position: relative;
  height: 100%;
  width: 28.3%;
  color: black;
  padding: 3vh 2vw;
}

#left h2{
  font-size: 3.2vw;
  margin-top: 13vh;
  font-weight:800;

}

#left p{
  font-family: Helvetica;
  font-size: 1.2vw;
}

#left span {
  position: relative;
  padding: 1vh;
  border-bottom: 1px solid #5c5c5d;
  overflow: hidden;
}

#left span::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #19191b;
  transition: width 0.3s ease-in-out;
}

#left span:hover::before {
  width: 100%;
}



#imgContainer{
  position: relative;
  height: 100%;
  width: 72.3%;
  display: flex;

}



#img_div{
  height: 100%;
  width: 100%;
  position: relative;
}

#center {
  position: relative;
  height: 100%;
  width: 35.3%;
  padding: 0.5vw;

}
#right {
  position: relative;
  height: 100%;
  width: 35.3%;
  padding: 0.5vw;


}

#img_div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

@media (max-width: 600px) {
  #cursor {
    display: none;
  }
  #nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
  }

  #nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #links {
    padding: 10px;
    display: none;
  }

  #nav-part1 {
    /* background-color: RED; */
    height: 67px;
    overflow: hidden;
  }

  #nav-part1 svg {
    display: block;
    height: 67px;
    width: 80px;
  }
  #nav #twogoodlogo {
    height: 40px;
    margin-left: -20px;
  }

  #icons {
    padding: 7px;
    border-radius: 50px;
    background-color: #f7f7f7;
  }

  #nav-part2 #icons i {
    font-size: 15px;
    margin: 0 20px;
    font-weight: 100;
  }

  #page1 h1 {
    font-size: 15vw;
    font-family: "futura", sans-serif;
    line-height: 10vh;
    font-weight: 800;
    word-spacing: -3px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  #video-container {
    padding: 2vw;
    height: 40vh;
  }

  #page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
  }

  #page2 .elem {
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    margin-bottom: 3vw;
  }

  #elem1 .dets {
    height: 5.5vh;
    width: 60%;
    z-index: 9;
    top: 0;
    margin-top: 40vh;
    position: absolute;
    border-radius: 20px;
  }

  #elem1 .text_div {
    padding: 10px 40px;
    align-items: center;
    text-align: center;
  }
  #elem1 .text_div .ri-drop-fill {
    color: rgb(0, 0, 0);
    font-size: 3vw;
  }

  #elem1 .text_div .ri-arrow-drop-right-line {
    font-size: 5vw;
  }

  #elem1 .text_div h2 {
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Helvetica;
    padding: 0vh 2vw;
  }

  #elem1 .dets_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  #elem1 .dets_Container img {
    position: relative;
    height: 120px;
    width: 150px;
    opacity: 0;
    padding: 0.4vh;
  }

  /* elem2 container */

  #elem2 .dets {
    height: 5.5vh;
    width: 60%;
    z-index: 9;
    top: 0;
    margin-top: 40vh;
    position: absolute;
    border-radius: 20px;
  }

  #elem2 .text_div {
    padding: 10px 40px;
    align-items: center;
    text-align: center;
  }
  #elem2 .text_div .ri-drop-fill {
    color: rgb(0, 0, 0);
    font-size: 3vw;
  }

  #elem2 .text_div .ri-arrow-drop-right-line {
    font-size: 5vw;
  }

  #elem2 .text_div h2 {
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Helvetica;
    padding: 0vh 2vw;
  }

  #elem2 .dets_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  #elem2 .dets_Container img {
    position: relative;
    height: 120px;
    width: 150px;
    opacity: 0;
    padding: 0.4vh;
  }

  /* elem3 Contaiener */

  #elem3 .dets {
    height: 5.5vh;
    width: 60%;
    z-index: 9;
    top: 0;
    margin-top: 40vh;
    position: absolute;
    border-radius: 20px;
  }

  #elem3 .text_div {
    padding: 10px 40px;
    align-items: center;
    text-align: center;
  }
  #elem3 .text_div .ri-drop-fill {
    color: rgb(0, 0, 0);
    font-size: 3vw;
  }

  #elem3 .text_div .ri-arrow-drop-right-line {
    font-size: 5vw;
  }

  #elem3 .text_div h2 {
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Helvetica;
    padding: 0vh 2vw;
  }

  #elem3 .dets_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  #elem3 .dets_Container img {
    position: relative;
    height: 130px;
    width: 150px;
    opacity: 0;
    padding: 0.5vh;
  }

  #page3 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
  }

  .child {
    height: 48vh;
    width: 165vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
  }

  .child img {
    height: 70%;
    object-fit: cover;
  }

  .child h3 {
    font-weight: 300;
    font-size: 3.5vw;
  }

  #page5 {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 13%);
    position: relative;
    overflow: hidden;
  }

  .cards {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 60vh;
    
  }

  #card-one {
    top: 250%;  
      background-image: url("Assets/image1.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    scale: (0.3);
  }

  #card-two {
    top: 250%;   
     background-image: url("Assets/image2.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    background-position: center;
    scale: (0.3);
  }

  #card-three {
    top: 250%;      
    background-image: url("Assets/image3.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    scale: (0.3);
  }

  #card-four {
    top: 250%;  
    background-image: url("Assets/image4.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    scale: (0.3);
  }

  #card-five {
    top: 150%;
    background-image: url("Assets/image5.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size:cover;
    background-position: center;
    scale: (0.3);
  }

  #page6 {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-color: white;
  }
  
  #left {
    position: relative;
    height: 100%;
    width: 100%;
    color: black;
    padding: 2vh 10vw;
  }
  
  #left h2{
    font-size: 7.2vw;
    margin-top: 1vh;
    font-weight:800;
    text-align: center;
  
  }
  
  #left p{
    font-family: Gilroy;
    font-size: 4.2vw;
    font-weight: 500;
    line-height: 2.5vh;
  }
  
  #left span {
    position: relative;
    padding: 1vh;
    border-bottom: 1px solid #5c5c5d;
    overflow: hidden;
    display: none;
    
    
  }

  #imgContainer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
  
  }
  
  
  
  #img_div{
    height: 100%;
    width: 100%;
    position: relative;
  }
  

}
